*{
    margin:0px;
    padding:0px;
}
body{
    font-family:poppins;
    box-sizing: border-box;
    color:white;
    margin: 0; 
    padding: 0;
    background: #031327;
}
.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 50px;
}

.profile-pic{
    align-items: center;
    width: 12%;
    border-radius: 50%;
}
.head{
    font-size: 30px;
    font-weight: bold;
    width: 500px;
    margin-top: 20px;
}
.bio{
    margin: 2px auto;
    font-size: 17px;
    font-weight: 300;
    width: 500px;
    margin-bottom: 26px;
    font-weight: 300;
    line-height: 150%;
}
  
.links {
    box-sizing: border-box;
    width: 650px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #0A2647 0%, #2C74B3  51%, #03C988  100%);
    margin: 12px auto;
    padding-top:30px;
    padding-bottom: 30px;
    transition: 0.5s ease-in-out;
    font-size: 18px;
    background-size: 200% auto;          
    box-shadow: 0 0 20px 0px rgb(20, 0, 51);
    border-radius: 30px;
    border-color: transparent;
    color: white;
    text-decoration: none; 
}

.links:hover {
    background-position:right; /* change the direction of the change here */
    transition:ease-out;
    color: rgb(54, 1, 51);
    text-decoration: none;
}

/* REsponsive css */
/* 0 to 600px */
@media screen and (max-width: 700px){
    .links{
        width:452px;
        font-size: 14px;
        height: 50px;
        box-sizing: border-box;
        align-items: center;
        background-image: linear-gradient(to right, #0A2647 0%, #2C74B3  51%, #2caab3  100%);
        margin: 10px auto;
        padding-top:30px;
        padding-bottom: 30px;
        transition: 0.5s ease-in-out;
        background-size: 200% auto;          
        box-shadow: 0 0 20px rgb(31, 0, 50);
        border-radius: 30px;
        border-color: transparent;
        color: white;
        text-decoration: none; 
    }
    .profile-pic{
        align-items: center;
        margin:10px auto;
        border-radius: 50%;
        width:30%;
    }
    .head{
        margin: 4px auto;
        font-size: 24px;
        width: 390px;
    }
    .bio{
        font-size: 15px;
        width: 350px;
        font-weight: 200;
        line-height: 150%;
        margin-bottom: 26px;
    }
}
@media screen and (max-width: 450px){
    .links{
        width:380px;
        font-size: 14px;
        height: 50px;
        box-sizing: border-box;
        align-items: center;
        background-image: linear-gradient(to right, #0A2647 0%, #2C74B3  51%, #2caab3  100%);
        margin: 10px auto;
        padding-top:30px;
        padding-bottom: 30px;
        transition: 0.5s ease-in-out;
        background-size: 200% auto;          
        box-shadow: 0 0 20px rgb(31, 0, 50);
        border-radius: 30px;
        border-color: transparent;
        color: white;
        text-decoration: none; 
    }
    .profile-pic{
        align-items: center;
        margin:10px auto;
        border-radius: 50%;
        width:30%;
    }
    .head{
        margin: 11px auto;
        font-size: 24px;
        width: 390px;
    }
    .bio{
        font-size: 15px;
        width: 350px;
        font-weight: 200;
        line-height: 150%;
        margin-bottom: 26px;
    }
}
@media screen and (max-width: 400px) {
    .links{
        width:350px;
        height: 40px;
        font-size: 14px;
        box-sizing: border-box;
        align-items: center;
        background-image: linear-gradient(to right, #0A2647 0%, #2C74B3  51%, #2caab3  100%);
        margin: 10px auto;
        padding-top:30px;
        padding-bottom: 30px;
        transition: 0.5s ease-in-out;
        background-size: 200% auto;          
        box-shadow: 0 0 20px rgb(31, 0, 50);
        border-radius: 30px;
        border-color: transparent;
        color: white;
        text-decoration: none; 
    }
    .profile-pic{
        display: flex;
        align-items: center;
        margin:10px auto;
        border-radius: 50%;
        width:30%;
    }
    .head{
        font-size: 24px;
        width: 390px;
        font-size:20px;
    }
    .bio{
        font-size: 15px;
        width: 233px;
        margin: 0px auto;
        font-weight: 200;
        line-height: 150%;
    }

    @media screen and (max-width: 390px) {

        .container {
            width: 100vw;
            height: 100vh;
        }

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .links{
            width:300px;
            font-size: 14px;
            height: 40px;
            box-sizing: border-box;
            align-items: center;
            background-image: linear-gradient(to right, #0A2647 0%, #2C74B3  51%, #2caab3  100%);
            margin: 10px auto;
            padding-top:30px;
            padding-bottom: 30px;
            transition: 0.5s ease-in-out;
            background-size: 200% auto;          
            box-shadow: 0 0 10px rgb(31, 0, 50);
            border-radius: 30px;
            border-color: transparent;
            color: white;
            text-decoration: none; 
        }
        .profile-pic{
            display: flex;
            align-items: center;
            margin:10px auto;
            border-radius: 50%;
            width:30%;
        }
        .head{
            font-size: 24px;
            width: 390px;
        }
        .bio{
            font-size: 12px;
            line-height: 150%;
            width: 300px;
            margin-bottom: 26px;
            font-weight: 200;
        }
    }
}



